@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	/********************  ******************/
	/******************** NAV ******************/
	.nav-link {
		@apply relative flex flex-row py-4 px-10
		after:transition-all transition-all justify-center font-bold flex-wrap max-w-7xl w-full m-auto font-body
        after:w-full after:absolute after:h-1 after:bottom-0 after:bg-transparent hover:after:bg-yellow-300
        hover:bg-yellow-100 duration-300 after:duration-300;
	}
	.nav-link-desktop {
		@apply max-w-lg flex overflow-auto mx-0 w-max flex-grow px-2 py-2 my-2 flex-shrink m-0 hover:rounded-lg;
	}
	.active {
		@apply text-black after:bg-yellow-800 hover:after:bg-yellow-800;
	}
	/********************  ******************/
	.par {
		@apply max-w-3xl;
	}
	/******************** CASE STUDIES ******************/
	.redbar {
		@apply w-full h-0.5 bg-red-300 absolute bottom-0 left-0;
	}
	.redbar-darker {
		@apply bg-red-400;
	}
	/********************  LEARN MORE ******************/
	.iframe {
		@apply w-full overflow-hidden;
	}
}
